* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 200;
}

html {
  background: #efefef;
}

body {
  background: white;
  color: #212121;
  margin: 0;
  padding-top: 60px;
}

p, h1, h2 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
  margin-top: 48px;
}

p {
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

a {
  color: blue;
}

em {
  font-weight: 400;
}

.footer {
  padding: 40px 0;
  background: #efefef;
  margin: 0;
  margin-top: 40px;
  max-width: 100%;
}

.footer p {
  text-align: left;
}
